# Default ignored files
/../../Gruppe-X-rep./.idea/shelf/
/../../Gruppe-X-rep./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Gruppe-X-rep./.idea/httpRequests/
# Datasource local storage ignored files
/../../Gruppe-X-rep./.idea/dataSources/
/../../Gruppe-X-rep./.idea/dataSources.local.xml
